html {
  height: 100%;
  width: 100%;
 }
#main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  position:relative;
}
h1{
  font-family:sans-serif;
  font-size: 45px;
}
#main2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: ghoom 4s linear 0s forwards infinite ;
  margin-left: 40vw;
  width: 300px;
}
@keyframes ghoom{
  from{
     rotate: 0deg;
  }
  to{
     rotate: 360deg;
  }
}
.m{
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 5px 0px;
}
.box{
  height: 145px;
  width: 145px;
  border: 3px double #111;
  border-radius: 45px;
  animation: boxghoom 2s linear 0s forwards infinite 
}
@keyframes boxghoom{
  from{
     rotate: 0deg;
  }
  to{
     rotate: -360deg;
  }
}
#box1{
  background-color: #40ff40;
}
#box2{
  background-color:#ff5cb3;
}
#box3{
  background-color: #45fcfd;
}
#box4{
  background-color: yellow;
}
h4{
  font-family:sans-serif;
}
#cursor{
  background-color: navy; 
  height: 12px;
  width: 12px;
  border-radius: 50%;
  position: absolute;
}
                                               